@{
    ViewData["Title"] = "Sign-In Page";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="site.css">
    </head>
        <body>
          <div class="custom-container text-center">
            <main role="main" class="pb-3">
              <h1>Sign-In</h1>
              <form action="/signin" method="post" class="signup-form mx-auto">
                <input type='text' id='email' name='email' placeholder='Email' required/>
                <input type='password' id='password' name='password' placeholder="Password" required/>
                <input type='submit' id='submit' value='Submit'class="submit-button"/>
                <p style="color: red;text-align: center;">@TempData["MESSAGE"]</p>
              </form>
            </main>
        </div>
        </body>