@{
    ViewData["Title"] = "MATCH CENTER LIVE";
}

<div>
    <button type="button" onclick="filterMatches('all')">All</button>
    <button type="button" onclick="filterMatches('scheduled')">Scheduled</button>
    <button type="button" onclick="filterMatches('finished')">Finished</button>
</div>

<table class="table match-center">
    <tbody id="listMatches">
    </tbody>
</table>

@section Scripts{ 
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/home.js"></script>
    
}
