@{
    ViewData["Title"] = "MATCH CENTER LIVE";
}



<table class="table match-center">
    <tbody id="listMatches">
    </tbody>
</table>

@section Scripts{ 
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/home.js"></script>
}
